openapi: 3.0.0
info:
  title: API для блокировки платежей в Т-Банке
  description: API для управления блокировками платежей клиентов
  version: 1.0.0
servers:
  - url: https://api.t-bank.com/v1
    description: Т-Банк API production server
tags:
  - name: blocks
    description: Управление Блокировками Платежей
paths:
  /clients/{clientId}/blocks:
    post:
      summary: Блокировка платежей определенного клиента
      description: Создает новую блокировку для платежей клиента
      tags:
        - blocks
      security:
        - OAuth2: [write]
      parameters:
        - in: path
          name: clientId
          required: true
          schema:
            type: string
          description: Уникальный id клиента
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockRequest'
      responses:
        '201':
          description: Block created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Client already has an active block of this type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Получение истории блокировок клиента
      description: Возвращает все активные и неактивные блокировки для определенного клиента
      tags:
        - blocks
      security:
        - OAuth2: [read]
      parameters:
        - in: path
          name: clientId
          required: true
          schema:
            type: string
          description: Уникальный id клиента
        - in: query
          name: status
          schema:
            type: string
            enum: [active, inactive, all]
            default: all
          description: Фильтр блокировок по их статусу
        - in: query
          name: blockType
          schema:
            type: string
            enum: [FRAUD_SUSPICION, WRONG_DETAILS]
          description: Фильтр блокировок по их типу
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
          description: Количество возвращаемых записей
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
          description: Количество записей которые пропускаются (отступ)
      responses:
        '200':
          description: List of blocks for the client
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Block'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /clients/{clientId}/blocks/{blockId}:
    get:
      summary: Получение подробностей о блокировке
      description: Возвращает подробности о конкретной блокировке
      tags:
        - blocks
      security:
        - OAuth2: [read]
      parameters:
        - in: path
          name: clientId
          required: true
          schema:
            type: string
          description: Уникальный id клиента
        - in: path
          name: blockId
          required: true
          schema:
            type: string
          description: Уникальный id блокировки
      responses:
        '200':
          description: Block details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Block or client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /clients/{clientId}/blocks/{blockId}/unblock:
    post:
      summary: Снятие конкретной блокировки
      description: Снятие активной блокировки с клиента (устанавливает дату окончания на текущую временную метку)
      tags:
        - blocks
      security:
        - OAuth2: [write]
      parameters:
        - in: path
          name: clientId
          required: true
          schema:
            type: string
          description: Уникальный id клиента
        - in: path
          name: blockId
          required: true
          schema:
            type: string
          description: Уникальный id блокировки
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnblockRequest'
      responses:
        '200':
          description: Block deactivated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Block or client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Block is already inactive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /clients/{clientId}/block-status:
    get:
      summary: Проверка статуса блокировки клиента
      description: Возвращает текущий статус блокировки конкретного клиента
      tags:
        - blocks
      security:
        - OAuth2: [read]
      parameters:
        - in: path
          name: clientId
          required: true
          schema:
            type: string
          description: Уникальный id клиента
        - in: query
          name: blockType
          schema:
            type: string
            enum: [FRAUD_SUSPICION, WRONG_DETAILS]
          description: Фильтр блокировок по их статусу (опционально)
      responses:
        '200':
          description: Client's block status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockStatus'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.t-bank.com/oauth/authorize
          tokenUrl: https://api.t-bank.com/oauth/token
          scopes:
            read: Read access
            write: Write access

  schemas:
    BlockRequest:
      type: object
      required:
        - blockType
        - reason
      properties:
        blockType:
          type: string
          enum: [FRAUD_SUSPICION, WRONG_DETAILS]
          description: Тип блокировки - подозрение на мошенничество или неверные платежные реквизиты
        reason:
          type: string
          description: Подробная причина блокировки
        expectedResolutionDate:
          type: string
          format: date-time
          description: Ожидаемая дата, когда блокировка может быть снята (опционально)

    UnblockRequest:
      type: object
      required:
        - resolutionNotes
      properties:
        resolutionNotes:
          type: string
          description: Заметки, объясняющие, как была решена проблема

    Block:
      type: object
      properties:
        blockId:
          type: string
          description: Уникальный id блокировки
        clientId:
          type: string
          description: Уникальный id заблокированного клиента
        blockType:
          type: string
          enum: [FRAUD_SUSPICION, WRONG_DETAILS]
          description: Тип блокировки
        reason:
          type: string
          description: Подробная причина блокировки
        createdAt:
          type: string
          format: date-time
          description: Временная метка, когда блокировка была создана
        createdBy:
          type: string
          description: id пользователя, который создал блокировку
        endedAt:
          type: string
          format: date-time
          nullable: true
          description: Временная метка, когда блокировка была снята (null, если блокировка до сих пор активна)
        endedBy:
          type: string
          nullable: true
          description: id пользователя, который снял блокировку (null, если блокировка до сих пор активна)
        expectedResolutionDate:
          type: string
          format: date-time
          nullable: true
          description: Ожидаемая дата разрешения блокировки
        resolutionNotes:
          type: string
          nullable: true
          description: Заметки о том, как была решена проблема
        isActive:
          type: boolean
          description: Активна ли блокировка в данный момент

    BlockStatus:
      type: object
      properties:
        clientId:
          type: string
          description: Уникальный id клиента
        isBlocked:
          type: boolean
          description: Есть ли у клиента активные блокировки
        activeBlocks:
          type: array
          items:
            $ref: '#/components/schemas/Block'
          description: Список активных в данный момент блокировок

    Error:
      type: object
      properties:
        code:
          type: string
          description: Код ошибки
        message:
          type: string
          description: Сообщение об ошибке
        details:
          type: object
          description: Дополнительные сведения об ошибке
